/* Apply the stlyles using CSS to the webpage */

/* style the h1 element */
h1{
    color: crimson;
    font-size: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* style the paragraph element */
p{
    /* padding:-space inside a box */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size:large;
    font-weight: 530;
    /* margin:-space outside of the box */
    margin-inline-start: 200px;
    margin-inline-end: 200px;
    border-color: rgb(165, 30, 210);
    border-style: dashed;    
}

/* style the image */
img{
    width:800px;
    padding-left: 160px;
    padding-top: 20px;
 }

 /* style of the font weight */
 a{
    font-weight: 800;
 }

/* style the h3 elemnt */
h3
{
    padding-left: 400px;
    padding-top: 50px;
    font-weight: 100;
}

/* style the button */ 
button {
    background-color:lightgrey;
    font-size: large;
    margin-left:600px ;
    margin-top: 20px;
}
/* changes the background color to light green when hovered */
button:hover{
  background-color:lightgreen;
}
